# 1. 딕셔너리를 활용한 Pandas DataFrame 생성

In [18]:
# 데이터프레임 라이브러리 활용
import pandas as pd
data = {'name':['A고객','B고객','C고객','D고객'],
        'age':[27,40,33,29],
       'stock_age':[2,10,5,1]}
dataFrame = pd.DataFrame(data)
# 데이터프레임 : 스프레드시트 형태의 자료구조
print(dataFrame)
print(type(dataFrame))
# pandas 내 컬럼명은 오름차순으로 자동정렬되어 나옴

   age name  stock_age
0   27  A고객          2
1   40  B고객         10
2   33  C고객          5
3   29  D고객          1
<class 'pandas.core.frame.DataFrame'>

In [20]:
# 컬럼명을 딕셔너리에서 정의한대로 표출하고 싶다면 아래처럼 하면 된다
dataFrame[["name","age","stock_age"]]

  name  age  stock_age
0  A고객   27          2
1  B고객   40         10
2  C고객   33          5
3  D고객   29          1

# 2. 리스트를 활용한 Pandas DataFrame 생성

In [2]:
import pandas as pd
# 리스트 생성
test = [10,100,1000,10000]
# 데이터프레임 변환
testDf = pd.DataFrame(test)
testDf

       0
0     10
1    100
2   1000
3  10000

In [3]:
#  데이터프레임 컬럼명 변경시
testDf.columns = ['test']
testDf

    test
0     10
1    100
2   1000
3  10000