## Python 사칙연산

### Number

In [2]:
integer_value = 123
float_value = 12.456
type(integer_value)

int

In [3]:
# 더하기
sum = integer_value + float_value
print(sum)

135.456

In [11]:
# 곱하기
multiple = integer_value * float_value
print(multiple)

1532.088

In [12]:
# 나누기
division = integer_value / float_value
print(division)

9.8747591522158

In [15]:
# 제곱연산
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)

144

In [14]:
# 나머지연산
mod = integer_value%int(float_value)
print(mod)

3

### String

In [5]:
#문자열 연산하기
a = "*"*20
print(a)

head = "Data"
tail = "Streams"
fullString = head+"_"+tail
print(fullString)

print("#"*20+" 문자열 연산 프로그램 "+"*"*20)

#문자열 인덱싱 0부터 시작
yearweek = "201901"
print(yearweek[0]) #첫번째 문자열
print(yearweek[0:4]) # 0~4번째 전 문자열
print(yearweek[4:]) # 4번째부터 끝까지

********************
Data_Streams
#################### 문자열 연산 프로그램 ********************
2
2019
01

In [32]:
#문자열 갯수세기
yearweek = "2017W28"
print(yearweek.count('W'))

#문자열 위치확인
print(yearweek.index('W'))
delimeter = yearweek.index('W')
yearweek_new = yearweek[:delimeter]+yearweek[delimeter+1:]
print([yearweek_new])

# 그외 .upper(), .lower(), .replace()
#split 함수
yearweek_list = yearweek.split("W")
print(yearweek_list)

1
4
['201728']
['2017', '28']

In [7]:
stock_name = "Sec"
date = "2018W28"
value = "250"

delimeter = date.index('W')
dateFixed = date[:delimeter]+date[delimeter+1:]
test= [stock_name.upper()+dateFixed+value]
print(test)

['SEC201828250']

### List

In [8]:
#리스트 연산하기
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712, 201713]

secInfo = stockName+priceList+[dateList]
print(secInfo)

['SEC', 120, 130, [201712, 201713]]

In [9]:
#리스트 인덱싱
print(secInfo[1])
print(secInfo[3])
print(secInfo[3][0])
print(secInfo[0:3])

120
[201712, 201713]
201712
['SEC', 120, 130]

In [10]:
#리스트 값 업데이트 하기
updateList = [120,130,140,150]
print(updateList)
updateList[2] = 180
print(updateList)

[120, 130, 140, 150]
[120, 130, 180, 150]

In [11]:
#리스트 값 삭제하기
del updateList[2]
print(updateList)

[120, 130, 150]

In [61]:
a = [120,150,300,500,1000,100,2000]
print(len(a))
print(min(a))
print(max(a))

print(a)
maxValue = max(a)
minValue = min(a)
a.pop(a.index(minValue))
a.pop(a.index(maxValue))
print(a)
type(a)
print(type(a[1:2]))

7
100
2000
[120, 150, 300, 500, 1000, 100, 2000]
[120, 150, 300, 500, 1000]
<class 'list'>

In [54]:
#avgSum = sum(a)
avgSum = sum(int(i) for i in a)
avgCount = len(a)
avg = avgSum / avgCount
print(avg)

TypeError: 'float' object is not callable

In [62]:
# dictionary
dic = {"name":"DataStreams","id":"gykim","address":"Seoul"}
print(dic)
print(dic['name'])

#dictional key value 추가하기
dic["name"] = "TeraStream"
dic["stock"] = "yes"
print(dic)
print(dic["stock"])

#diction 요소 삭제하기
del dic["id"]
print(dic)

{'name': 'DataStreams', 'id': 'gykim', 'address': 'Seoul'}
DataStreams
{'name': 'TeraStream', 'id': 'gykim', 'address': 'Seoul', 'stock': 'yes'}
yes
{'name': 'TeraStream', 'address': 'Seoul', 'stock': 'yes'}